body {
    background-color: rgb(40, 30, 50);
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.con img {
    position: absolute;
    top: 10px;
    left: 10px;
}   

.con {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con div {
    position:absolute;
    border-radius: 50%;
    
}

.sun {
    height: 60px;
    width: 60px;
}

.mercury {
    height: 100px;
    width: 100px;
    animation-name: planets;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.venus {
    height: 140px;
    width: 140px;
    animation-name: planets;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.earth {
    height: 200px;
    width: 200px;
    animation-name: planets;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.mars {
    height: 280px;
    width: 280px;
    animation-name: planets;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.jupiter {
    height: 340px;
    width: 340px;
    animation-name: planets;
    animation-duration: 48s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.saturn {
    height: 400px;
    width: 400px;
    animation-name: planets;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.uranus {
    height: 460px;
    width: 460px;
    animation-name: planets;
    animation-duration: 336s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.neptune {
    height: 520px;
    width: 520px;
    animation-name: planets;
    animation-duration: 656s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.pluto {
    height: 580px;
    width: 580px;
    animation-name: planets;
    animation-duration: 992s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes planets {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
} 